@import "./../../../scss/variables";

.card-body {
  color: white !important;
  font-family: "Montserrat";
  text-shadow: 1px 1px black;

  .cityName {
    line-height: 1.5rem;
    font-size: 40px;
    font-weight: bold;
  }

  .cityCountry {
    font-size: 20px;
  }
}

.card.image-full:before {
  opacity: 0.3;
}
